.aboutSection{
    padding: 45px 0px 50px 0px;
    margin: 0;
    background-color: #FFFFFF;
}
.aboutContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0px;
}
.show{
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.aboutInformation{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.aboutContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.aboutPicture{
    width: 300px;
    vertical-align: middle;
}
.aboutInfoContainer{
    padding: 0px 20px;
}
.aboutText{
    color: #06070A;
    padding: 0;
    margin: 0;
}
.aboutInfo{
    width: 600px;
    text-align: justify;
    vertical-align: middle;
}
@media screen and (max-width: 1159px) and (min-width: 890px){
    .aboutPicture{width:300px;}
    .aboutInfo{width: 400px;}
}
@media screen and (max-width: 889px){
    .aboutContent{row-gap: 20px;}
    .aboutText{text-align: center;}
    .aboutPicture{width: 300px;}
}
@media screen and (max-width: 889px) and (min-width: 769px){
    .topaboutContent{margin: 0px 50px;}
}
@media screen and (max-width: 768px) and (min-width: 544px){
    .aboutInfo{width: 500px;}
    .topaboutContent{margin: 0px 40px;}
    .topaboutContent p{font-size: 0.9em;}
}
@media screen and (max-width: 545px) and (min-width: 426px){
    .aboutInfo{width: 380px;}
    .topaboutContent{margin: 0px 40px;}
    .topaboutContent p{font-size: 0.9em;}
}
@media screen and (max-width: 425px) and (min-width: 376px){
    .aboutInfo{width: 320px;}
    .topaboutContent{margin: 0px 30px;}
    .topaboutContent p{font-size: 0.9em;}
}
@media screen and (max-width: 375px) and (min-width: 320px){
    .aboutInfo{width: 275px;}
    .topaboutContent{margin: 0px 30px;}
    .topaboutContent p{font-size: 0.9em;}
}
