.aboutSection{
    padding: 45px 0px 50px 0px;
    margin: 0;
    background-color: #FFFFFF;
}
.aboutContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0px;
}
.show{
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.aboutInformation{
    display: flex;
    flex-direction: row;
    row-gap: 20px;
}
.aboutContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.aboutInfoContainer{
    padding: 0px 20px;
}
.aboutText{
    color: #000;
}
.aboutInfo{
    width: 600px;
    text-align: justify;
    vertical-align: middle;
    font-size: 0.9rem;
}
@media screen and (max-width: 1328px){
    .aboutInfo{width: 500px;}
}
@media screen and (max-width: 1125px){
    .aboutInfo{width: 400px;}
    .aboutContainer{margin: 10px 0px;}
}
@media screen and (max-width: 928px){
    .aboutInfo{width: 600px;}
    .aboutInformation{flex-direction: column;}
}
@media screen and (max-width: 716px){
    .aboutInfo{width: 500px;}
}
@media screen and (max-width: 580px){
    .aboutInfo{width: 400px;}
}
@media screen and (max-width: 473px){
    .aboutInfo{width: 380px;}
}
@media screen and (max-width: 425px){
    .show{font-size: 1.7rem;margin-bottom: 0px;}
    .aboutInfo{width: 330px;}
}
@media screen and (max-width: 420px){
    .aboutInfo{width: 300px;}
}
@media screen and (max-width: 348px){
    .aboutInfo{width: 250px;}
}
