.serviceHidden{
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s;
}
.serviceShow{
    opacity: 1;
    transform: translateY(0%);
}
.figureHidden{
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s;
}
.figureShow{
    opacity: 1;
    transform: translateY(0%);
}
