.educationSection{
    height: max-content;
    padding: 50px 0px 45px 0px;
    margin: 0;
    background-color: #FFFFFF;
}
.educHeadtext{
    font-size: 2.5em;
    text-transform: uppercase;
    color: #06070A;
    margin: 0;
    text-align: center;
}
.educationInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px 0px;
    flex-wrap: wrap;
}
.educationContainer{
    padding: 30px 20px;
    color: #06070A;
    text-align: center;
    transition: all 0.5s;
    width: 250px;
}
.educationContainer h3{
    text-transform: uppercase;
    color: #06070A;
}
.educationContainer img{
    padding: 20px;
    width: 50px;
    border-radius: 50%;
    background-color: #FCD70D;
}
.information p{
    color: #06070A;
    text-align: center;
}
.educationContainer:hover{
    background-color: #8b8b8b;
    color: #FFFFFF;
    border: none;
    transform: scale(1.05);
}
.educationContainer:hover img{
    background-color: #FFFFFF;
}
.educationContainer:hover .information p{
    color: #FFFFFF;
}
.educationContainer:hover .level{
    color: #FFFFFF;
}
@media screen and (max-width: 1159px) and (min-width: 870px){
    .educationInfo{column-gap: 150px;}
}
@media screen and (max-width: 1024px) and (min-width: 769px){
    .educHeadtext{font-size: 2.5em;}
    .educationInfo{margin-top: 20px;}
    .educationContainer{width: 250px;}
}
@media screen and (max-width: 768px) and (min-width: 426px){
    .educHeadtext{font-size: 2.5em;}
    .educationInfo{margin-top: 20px;}
    .educationContainer{width: 250px;}
}
@media screen and (max-width: 532px) and (min-width: 320px){
    .educHeadtext{font-size: 2.5em;}
}
@media screen and (max-width: 425px) and (min-width: 375px){
    .educationInfo{margin-top: 20px;}
    .educationContainer{width: 250px; padding: 20px 10px;}
}
@media screen and (max-width: 320px) and (min-width: 200px){
    .educationInfo{margin-top: 20px;}
    .educationContainer{width: 200px; padding: 20px 10px;}
}

