.educationSection{
    height: max-content;
    padding: 50px 0px 45px 0px;
    margin: 0;
    background-color: #FFFFFF;
}
.educHeadtext{
    font-size: 2.5em;
    text-transform: uppercase;
    color: #06070A;
    margin: 0;
    text-align: center;
}
.educSubtext{
    text-align: center;
    color: #8b8b8b;
    padding: 0px 30px;
}
.educationInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px 0px;
    flex-wrap: wrap;
}
.educationContainer{
    padding: 30px 20px;
    color: #06070A;
    text-align: center;
    transition: all 0.5s;
    width: 250px;
}
.educationContainer h3{
    text-transform: uppercase;
    color: #FFF;
    background-color: #0A58CA;
    padding: 10px 15px;
    border-radius: 5px;
}
.information p{
    color: #06070A;
    text-align: center;
    font-size: 0.9rem;
}
.educationContainer:hover{
    background-color: #b1b1b1;
    color: #FFF;
    border: none;
    transform: scale(1.05);
}
.educationContainer:hover h3{
    background-color: #FFF;
}
.educationContainer:hover h3{
    color: #000;
}
@media screen and (max-width: 1159px) and (min-width: 870px){
    .educationInfo{column-gap: 150px;}
}
@media screen and (max-width: 1024px){
    .educationInfo{margin-top: 20px;}
    .educationContainer{width: 250px;}
}
@media screen and (max-width: 425px){
    .educationContainer{padding: 20px 10px;}
}
@media screen and (max-width: 320px) and (min-width: 200px){
    .educationContainer{width: 200px;}
}

