*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}
#myNav{
    background-color: #06070A;
    height: max-content;
    padding: 20px 25px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#myNav .logoSection{
    padding: 0px 0px;
    margin: 0;
}
#myNav p{
    margin: 0;
}
#myNav p img{
    width: 80px;
}
#myNav p:hover{
    color: #FFFFFA;
}
#myNav ul, #menu li{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
#myNav ul{
    width: 100%;
    text-align: left;
}
#myNav li{
    display: inline-block;
}
.menuSection a{
    line-height: 45px;
    padding: 0 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    margin: 0px 0px;
    font-weight: bold;
}
.menuSection a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.aboutBtn{
    padding: 10px 15px;
    background-color: #0A58CA;
    color: #FFF;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}
.readBtn, .showBtn{
    padding: 10px 15px;
    background-color: #06070A;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #FFF;
    font-weight: bold;
    font-size: 1rem;
}
.readBtn{
    margin-top: 15px;
}
.showBtn{
    display: none;
}
#myNav input{
    display: none;
}
#myNav label{
    display: none;
    line-height: 45px;
    text-align: center;
    width: max-content;
    height: 45px;
    cursor: pointer;
}
#myNav label:before{
    font-size: 3rem;
    color: #FFFFFF;
    content: "\2261";
    display: block;
    line-height: 45px;
    outline: none;
}
.burgerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
}

/* Footer */
footer{
    background-color: #06070A;
}
.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
    padding: 50px 30px;
    background-color: #06070A;
}
.footerSection{
    color: #FFF;
}
.rightContent .footer-logo{
    width: 80px;
}
.rightContent p{
    width: 500px;
    line-height: 1.5rem;
    margin: 0;
}
.footersocmed{
    padding-top: 5px;
    display: none;
}
.footersocmed-icon{
    width: 35px;
}
.contentLeft h2{
    margin: 0;
    text-transform: uppercase;
    text-align: right;
}
.contactInformation li{
    list-style: none;
    line-height: 1.5rem;
    margin: 0;
}
.contactInformation{
    margin-top: 10px;
}
input, a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:visited, a:active, a:focus{
    outline: none;
}
.footerBottom p{
    margin: 0;
    padding: 10px 0px;
    color: #585858;
    text-align: center;
    font-weight: 600;
}

/* Header */
@media screen and (max-width: 1189px){
    .showBtn{display: block; padding: 8px 10px; font-size: 0.8rem;}
    .logoSection a{text-decoration: none;}
    #myNav p img{display: none;}
}
@media screen and (max-width: 920px){
    #myNav {position:relative}
    #myNav ul {background:#ffffff;position:absolute;top:100%;right:0;left:0;z-index:3;max-height: 0;overflow: hidden;opacity: 0;display:block;text-align:right;transition: max-height 1s ease-out;}
    #myNav li {display:block;float:none;width:auto;text-align: left;}
    .menuSection a{color: #06070A;}
    #myNav label {position:absolute;top:14px;right:35px;display:block;}
    #myNav label{line-height: 71px;}
    #myNav p img{width: 70px;margin-bottom: -7px;}
    #myNav input {z-index:2}
    #myNav input:checked + label {color:#FFFFFF;}
    #myNav input:checked + label:before {content:"\00d7"; font-size: 3rem;}
    #myNav input:checked ~ ul{max-height: 500px;opacity: 1;}
}
@media screen and (max-width: 767px){#myNav {padding: 20px 25px;}.menuSection a{font-size: 1rem;}}
@media screen and (max-width: 424px){.menuSection a{font-size: 0.85rem;}}
@media screen and (max-width: 591px) and (min-width: 425px){#myNav label{line-height: 73px;}}
@media screen and (max-width: 424px) and (min-width: 392px){#myNav label{line-height: 71px;}#myNav p img{margin-bottom: -7px;}}
@media screen and (max-width: 374px) and (min-width: 320px){.menuSection a{font-size: 0.75rem;}#myNav input:checked + label:before {font-size: 3em;}}

/* Footer */
@media screen and (max-width: 863px){.rightContent, .leftContent, .contentLeft h2{text-align: center;}}
@media screen and (max-width: 768px){.footersocmed{display: block;}#myNav p img{display: none;}}
@media screen and (max-width: 627px){.rightContent p{width: 400px;}}
@media screen and (max-width: 648px){.rightContent p{width: 300px;}}
@media screen and (max-width: 375px){.rightContent p{width: 250px;}}
