body{
    margin: 0;
}
.homeSection{
    padding-top: 150px;
    height: 495px;
    position: relative;
    margin: 0;
    background-color: #06070A;
}
.textContent{
    margin-left: 35px;
    margin-top: 70px;
    display: inline-block;
}
.textContent h1, .textContent h3, .textContent p{
    color: #FFFFFF;
    margin: 0;
}
.textContent h1{
    font-size: 4rem;
    margin: 0;
}
.textContent h3{
    font-size: 2em;
}
h3 span{
    color: #FCD70D;
}
.textContent p{
    font-size: 1.6rem;
}
.homeSection .myPic{
    width: 520px;
    position: absolute;
    bottom: 0;
    right: 0;  
}
.socmedContainer{
    position: absolute;
    height: 100px;
    bottom: 0px;
    left: 35px;
}
.socmedContainer p{
    padding: 0px 0px;
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 10px;
}
.socmedIcon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.socmedIcon img{
    width: 40px;
    margin-right: 10px;
}
.socmedIcon .aboutIcon{
    display: none;
}
.readBtn, .aboutBtn{
    cursor: pointer;
}
@media screen and (max-width: 1189px){
    .readBtn{display: none;}
    .textContent{margin-left: 0px;text-align: center;}
    .homeSection .myPic{position: absolute;bottom: 0;left: 50%;transform: translate(-50%, 0%);}
    .textContentContainer{display: flex;place-content: center;}
}
@media screen and (max-width: 1189px) and (min-width: 767px){
    .homeSection{height: 770px;}
    .textContentContainer{margin-top: 0px}
    .textContent{margin-top: 0px;}
    .homeSection .myPic{width: 490px;}
    .textContent h1{font-size: 4rem;}
    .textContent h3{font-size: 2em;}
    .textContent p{font-size: 1.2rem;}
}
@media screen and (max-width: 768px) and (min-width: 647px){
    .homeSection{padding-top: 70px;height: 770px;}
    .textContentContainer{margin-top: -70px;}
    .textContent{margin-top: 135px;}
    .homeSection .myPic{width: 480px;}
    .textContent h1{font-size: 4rem;}
    .textContent h3{font-size: 2rem;}
    .textContent p{font-size: 1rem;}
}
@media screen and (max-width: 768px){
    .socmedContainer{display: none;}
    .readBtn{display: none;}
}
@media screen and (max-width: 646px) and (min-width: 511px){
    .homeSection{padding-top: 70px;height: 770px;}
    .textContentContainer{margin-top: -40px;}
    .textContent{margin-top: 95px;}
    .homeSection .myPic{width: 480px;}
    .textContent h1{font-size: 3rem;}
    .textContent h3{font-size: 1.5rem;}
    .textContent p{font-size: 0.75rem;}
}
@media screen and (max-width: 510px) and (min-width: 426px){
    .homeSection{padding-top: 70px;height: 750px;}
    .textContent{margin-top: 95px;}
    .homeSection .myPic{width: 400px;}
    .textContent h1{font-size: 2.6rem;}
    .textContent h3{font-size: 1.4rem;}
    .textContent p{font-size: 0.75rem;}
}
@media screen and (max-width: 425px){
    .textContent h3{font-size: 1.2rem;}
    .homeSection{height:715px;}
}
@media screen and (max-width: 425px) and (min-width: 376px){
    .homeSection{padding-top: 20px;}
    .textContent{margin-top: 155px;}
    .homeSection .myPic{width: 380px;}
    .textContent h1{font-size: 2.5rem;}
    .textContent p{font-size: 0.75rem;}
}
@media screen and (max-width: 375px) and (min-width: 320px){
    .homeSection{padding-top: 70px;}
    .textContent{margin-top: 125px;}
    .homeSection .myPic{width: 300px;}
    .textContent h1{font-size: 2rem;}
    .textContent p{font-size: 0.7rem;}
}

