body{
    margin: 0;
}
.homeSection{
    padding-top: 150px;
    height: 495px;
    position: relative;
    margin: 0;
    background-color: #06070A;
}
.textContent{
    margin-left: 35px;
    margin-top: 70px;
    display: inline-block;
}
.textContent h1, .textContent h3, .textContent p{
    color: #FFFFFF;
    margin: 0;
}
.textContent h1{
    font-size: 4rem;
    overflow: hidden;
    margin: 0;
    border-right: 0.15em solid #FFFFFF;
    white-space: nowrap;
    animation: typing 6s steps(40, end) infinite;
}
@keyframes typing{
    from{width: 0;}
    to{width: 83%;}
}
.textContent h3{
    font-size: 2em;
}
h3 span{
    color: #FCD70D;
}
.textContent p{
    font-size: 1.6rem;
}
.readBtn{
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 0.75em;
    color: #06070A;
    background-color: #FFFFFF;
    border: none;
}

/* Image of me */
.homeSection .myPic{
    width: 520px;
    position: absolute;
    bottom: 0;
    right: 0;  
}

.socmedContainer{
    position: absolute;
    height: 100px;
    bottom: 0px;
    left: 35px;
}
.socmedContainer p{
    padding: 0px 0px;
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 10px;
}
.socmedIcon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.socmedIcon img{
    width: 40px;
    margin-right: 10px;
}
.socmedIcon .aboutIcon{
    display: none;
}

@media screen and (max-width: 1065px) and (min-width: 767px){
    .homeSection{height: 770px;}
    .textContentContainer{display: flex;place-content: center; margin-top: 0px}
    .textContent{margin-top: 0px;margin-left: 0px;text-align: center;}
    .homeSection .myPic{width: 490px;position: absolute;bottom: 0;left: 50%;transform: translate(-50%, 0%); }
    .textContent h1{font-size: 4rem;}
    .textContent h3{font-size: 2em;}
    .textContent p{font-size: 1.2rem;}
}
@media screen and (max-width: 768px) and (min-width: 647px){
    .homeSection{padding-top: 70px;height: 770px;}
    .textContentContainer{display: flex;place-content: center;}
    .textContent{margin-top: 135px;margin-left: 0px;text-align: center;}
    .homeSection .myPic{width: 480px;position: absolute;bottom: 0;left: 50%;transform: translate(-50%, 0%); }
    .textContent h1{font-size: 4rem;}
    .textContent h3{font-size: 2rem;}
    .textContent p{font-size: 1rem;}
    .readBtn{display: none;}
    .socmedContainer{position: absolute;height: 100px;bottom: 75px;left: 35px;}
    .socmedContainer p{display: none;}
    .socmedIcon .aboutIcon{width: 40px; display:inline;background-color: #FFFFFF;border-radius: 35px;border: 1px solid #FFFFFF; vertical-align: middle; margin-left: 0px;}
    .socmedIcon{display: flex;flex-direction: column;justify-content: flex-start;row-gap: 10px;}
    .socmedIcon img:nth-child(3){margin-top: 4px;}
}
@media screen and (max-width: 646px) and (min-width: 511px){
    .homeSection{padding-top: 70px;height: 770px;}
    .textContentContainer{display: flex;place-content: center; margin-top: 40px;}
    .textContent{margin-top: 95px;margin-left: 0px;text-align: center;}
    .homeSection .myPic{width: 480px;position: absolute;bottom: 0;left: 50%;transform: translate(-50%, 0%); }
    .textContent h1{font-size: 3rem;}
    .textContent h3{font-size: 1.5rem;}
    .textContent p{font-size: 0.75rem;}
    .readBtn{display: none;}
    .socmedContainer{position: absolute;height: 100px;bottom: 280px;left: 35px;}
    .socmedContainer p{display: none;}
    .socmedIcon img{width: 35px;}
    .socmedIcon .aboutIcon{width: 30px; display:inline;background-color: #FFFFFF;border-radius: 35px;border: 1px solid #FFFFFF; vertical-align: middle; margin-left: 2px;}
    .socmedIcon{display: flex;flex-direction: column;justify-content: flex-start;row-gap: 10px;}
    .socmedIcon img:nth-child(3){margin-top: 4px;}
}
@media screen and (max-width: 510px) and (min-width: 426px){
    .homeSection{padding-top: 70px;height: 770px;}
    .textContentContainer{display: flex;place-content: center;}
    .textContent{margin-top: 95px;margin-left: 0px;text-align: center;}
    .homeSection .myPic{width: 400px;position: absolute;bottom: 0;left: 50%;transform: translate(-50%, 0%); }
    .textContent h1{font-size: 2.6rem;}
    .textContent h3{font-size: 1.4rem;}
    .textContent p{font-size: 0.75rem;}
    .readBtn{display: none;}
    .socmedContainer{position: absolute;height: 100px;bottom: 230px;left: 35px;}
    .socmedContainer p{display: none;}
    .socmedIcon img{width: 35px;}
    .socmedIcon .aboutIcon{width: 30px; display:inline;background-color: #FFFFFF;border-radius: 35px;border: 1px solid #FFFFFF; vertical-align: middle; margin-left: 2px;}
    .socmedIcon{display: flex;flex-direction: column;justify-content: flex-start;row-gap: 10px;}
    .socmedIcon img:nth-child(3){margin-top: 4px;}
}
@media screen and (max-width: 425px) and (min-width: 376px){
    .homeSection{padding-top: 20px;height: 770px;}
    .textContentContainer{display: flex;place-content: center;}
    .textContent{margin-top: 155px;margin-left: 0px;text-align: center;}
    .homeSection .myPic{width: 380px;position: absolute;bottom: 0;left: 50%;transform: translate(-50%, 0%); }
    .textContent h1{font-size: 2.4rem;}
    .textContent h3{font-size: 1.2rem;}
    .textContent p{font-size: 0.7rem;}
    .readBtn{display: none;}
    .socmedContainer{position: absolute;height: 100px;bottom: 220px;left: 20px;}
    .socmedContainer p{display: none;}
    .socmedIcon img{width: 35px;}
    .socmedIcon .aboutIcon{width: 30px; display:inline;background-color: #FFFFFF;border-radius: 35px;border: 1px solid #FFFFFF; vertical-align: middle; margin-left: 2px;}
    .socmedIcon{display: flex;flex-direction: column;justify-content: flex-start;row-gap: 10px;}
    .socmedIcon img:nth-child(3){margin-top: 4px;}
}
@media screen and (max-width: 375px) and (min-width: 320px){
    .homeSection{padding-top: 70px;height: 770px;}
    .textContentContainer{display: flex;place-content: center;}
    .textContent{margin-top: 125px;margin-left: 0px;text-align: center;}
    .homeSection .myPic{width: 300px;position: absolute;bottom: 0;left: 50%;transform: translate(-50%, 0%); }
    .textContent h1{font-size: 2.4rem;}
    .textContent h3{font-size: 1.2rem;}
    .textContent p{font-size: 0.7rem;}
    .readBtn{display: none;}
    .socmedContainer{position: absolute;height: 100px;bottom: 180px;left: 15px;}
    .socmedContainer p{display: none;}
    .socmedIcon img{width: 35px;}
    .socmedIcon .aboutIcon{width: 30px; display:inline;background-color: #FFFFFF;border-radius: 35px;border: 1px solid #FFFFFF; vertical-align: middle; margin-left: 2px;}
    .socmedIcon{display: flex;flex-direction: column;justify-content: flex-start;row-gap: 10px;}
    .socmedIcon img:nth-child(3){margin-top: 4px;}
}

