.serviceSection{
    padding: 50px 0px 45px 0px;
    height: max-content;
}
.skillHeadtext2{
    font-size: 2.5em;
    text-align: center;
    color: #06070A;
    text-transform: uppercase;
    margin: 0;
}
.serviceContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}
.myService{
    padding: 30px 20px;
    width: 350px;
    height: 380px;
    transition: transform 0.5s;
}
.myService:hover{
    background-color: #8b8b8b;
    color: #FFFFFF;
    transform: scale(1.03);
}
.skillDivOne{
    text-align: center;
}
.skillDivOne img{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 50%;
}
.skillDivOne h1{
    margin-top: 20px;
}
.skillDivTwo{
    vertical-align: top;
}
.skillInfo{
    text-align: justify;
    line-height: 1.7rem;
    font-size: 0.9rem;
}
.skillIcon{
    width: 70px;
    text-align: center;
}
@media screen and (max-width: 532px) and (min-width: 426px){
    .myService{padding: 30px 20px;width: 350px;height: max-content;}
    .skillDivOne h1{font-size: 1.5em;}
}
@media screen and (max-width: 425px) and (min-width: 376px){
    .serviceContainer{row-gap: 40px;}
    .myService{padding: 30px 20px;width: 320px;height: max-content;}
    .skillDivOne h1{font-size: 1.5em;}
}
@media screen and (max-width: 375px) and (min-width: 320px){
    .myService{padding: 30px 20px;width: 260px;height: max-content;}
    .skillDivOne h1{font-size: 1.5em;}
}
