.skillsSection{
    height: max-content;
    padding: 50px 0px 45px 0px;
    background-color: #06070A;
}
.skillHeadtext{
    font-size: 2.5em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
    position: relative;
}
.skillInformation , .skillsSec{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.skillInformation{
    margin-top: 20px;
}
.skillsSec{
    column-gap: 10px;
}
.skillPic{
    display: flex;
    justify-content: center;
    padding: 0px;
}
.skillPic img{
    object-fit: cover;
    border: 10px solid #FFFFFF;
    transition: 0.3s ease-in-out;
    width: 400px;
}
.skillwidth{
    width: 400px;
    margin-top: 10px;
    padding: 0;
}
.skillwidth h3{
    background-color: #0A58CA;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    width: 130px;
}
.skillwidth p{
    color: #FFF;
}
.skillwidth:hover{
    transform: scale(1.05);
}
@media screen and (max-width: 1245px){
    .skillInformation{row-gap: 30px;}
}
@media screen and (max-width: 576px){
    .skillwidth{width: 350px;}
    .skillPic img{width: 370px;}
}
@media screen and (max-width: 424px){
    .skillwidth{width: 310px;}
    .skillPic img{width: 300px;}
}
